* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to right, #f56565, #f57070, #f57b7b, #f58685, #f49090, #f59999, #f6a3a3, #f6acac, #f9b6b6, #fbc0c0, #fdcbcb, #ffd5d5);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}